<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Send_EDI_Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Send_EDI_Files.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Send_EDI_Files.Properties.Settings>
            <setting name="Generator945Executable" serializeAs="String">
                <value>command.exe</value>
            </setting>
        </Send_EDI_Files.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Send_EDI_Files.Properties.Settings>
            <setting name="OutputFolder" serializeAs="String">
                <value>\\T12DB01.RBI.LOCAL\FTP\edi\Shipped</value>
            </setting>
            <setting name="T12DB01ConnectionString" serializeAs="String">
                <value>Server=T12DB01.RBI.LOCAL; User ID=sa; Password=9ure3atEbexe; Database=EDI;
            </value>
            </setting>
        </Send_EDI_Files.Properties.Settings>
    </applicationSettings>
</configuration>