<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DropShipShipmentConfirmations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WMS2Entities" connectionString="metadata=res://*/WMS2Model.csdl|res://*/WMS2Model.ssdl|res://*/WMS2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.0.12;initial catalog=WMS2;persist security info=True;user id=sa;password=9ure3atEbexe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FUIXWEBEntities" connectionString="metadata=res://*/FUIXWEBModel.csdl|res://*/FUIXWEBModel.ssdl|res://*/FUIXWEBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.0.12;initial catalog=FUIXWEB;persist security info=True;user id=sa;password=9ure3atEbexe;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="DBConnectionStringT12" value="Server=10.3.1.250; User ID=sa; Password=9ure3atEbexe; Database=EDI;" />
    <add key="DBConnectionStringRBI" value="Server=10.3.0.12; User ID=sa; Password=9ure3atEbexe; Database=WMS2;" />
    <add key="DBShipmentExportQuery" value="EXEC [dbo].[Drop_Ship_Shipment_Export]" />
    <add key="DBInventoryExportQuery" value="EXEC [dbo].[usp_DropShipInventory]" />
    <add key="DBReceiptsExportQuery" value="EXEC [dbo].[usp_DropShipReceipts]" />
    <add key="DBPOExportQuery" value="EXEC [dbo].[usp_DropShipPOs]" />
    <add key="DBPOShipmentExportQuery" value="EXEC [dbo].[usp_DropShipPOs_Shipments]" />
    <add key="DB945ExportQuery" value="EXEC [dbo].[Drop_Ship_945_Export]" />
    <add key="PathForShipmentExport" value="C:/FTP/EDI/Shipped/" />
    <add key="PathForInventoryExport" value="C:/FTP/EDI/InvFiles/" />
    <add key="PathForReceiptsExport" value="C:/FTP/EDI/InvFiles/" />
    <add key="PathForPOExport" value="C:/FTP/EDI/POs/" />
    <add key="DestinationURI" value="ftp://ftps.channeladvisor.com/Inventory/Transform/FUI.txt" />
    <add key="DestinationUsername" value="t12:paul.hartman@trinitytwelve.com" />
    <add key="DestinationPassword" value="G23mn9eDcqcNislF9W8C" />
  </appSettings>
  <userSettings>
    <DropShipShipmentConfirmations.Properties.Settings>
      <setting name="NextInterchangeControlNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NextGroupControlNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NextTransactionControlNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NextBOLNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NextCartonNumber" serializeAs="String">
        <value>1</value>
      </setting>
    </DropShipShipmentConfirmations.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>