<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
                      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DropShipShipmentConfirmations.Properties.Settings"
                     type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                     allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <appSettings>
        <add key="DBConnectionStringT12" value="Server=10.3.1.250; User ID=sa; Password=9ure3atEbexe; Database=EDI;"/>
        <add key="DBConnectionStringRBI" value="Server=10.3.0.12; User ID=sa; Password=9ure3atEbexe; Database=WMS2;"/>
        <add key="DB945ExportQuery" value="EXEC [dbo].[Drop_Ship_945_Export_Headers]"/>
        <add key="PathForShipmentExport" value="C:/FTP/EDI/Shipped/tmp/"/>
        <add key="945SenderFrom" value="945Notifications@trinitytwelve.com" />
        <add key="945RecipientTo" value="doug@moorecomputing.com" />
        <add key="945RecipientCC" value="doug@moorecomputing.com" />
        <add key="SMTPServer" value="T12DB01.RBI.LOCAL" />
        <add key="SMTPPort" value="25" />
    </appSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider"
                     type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider"
                     type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                     serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>